body {
	background-color: #000;
}

html {
}

#myHeader{
	background-color: black;
	position: relative;
}

header {
	margin-top: 0.0%;
	height:25vg;
	background-color: black;
} 

#MyFooter {
	height:20vh;
	background-color: black;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.sec {
	position: relative;
	
}

.sec2 {
	background: #DFDAA9;
	font-size: 40pt;
}

.sec1, .sec3{
	background: #4F5ACC;
	padding-top: 30vh;
}

.sec3 p {
	font-size: 40pt;
}

.sec1 p {
	font-size: 70pt;
	font: #FFF !important;
}

section {
	height: 100vh;
	margin: auto 0;
}

.div2{
	 
}

	#target{
	margin:30px;
}

.description, p.description{
	font-size: 70pt;
}
