body {
	height: 100vh;
	background-color: #DFDAA9;
}

#myHeader{
	background-color: black;
}
header {
	margin-top: 0.0%;
	height:25vg;
	background-color: black;
} 

#MyFooter {
	height:20vg;
	background-color: black;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

section {
	margin-top:15%;
}
.div2{
	 
}


